.divider{
    font-size: 1rem; 
    display:flex;
    justify-content: center;
    align-items: center;
  
}
.divider div:first-child{
         width: 1px; 
        background-color: black; 
        height: 100%; 
        float: left; 
        
}
.divider div:last-child{
   border:2px solid grey;
   width:25%;
   height:20%;
   border-radius: 70%;
   display:flex;
   justify-content: center;
   align-items: center;
  }

