.divider{
    font-size: 1rem; 
    display:flex;
    justify-content: center;
    align-items: center;
  position:relative;
}
.divider div:first-child{
         width: 1px; 
        background-color: black; 
        height: 100%; 
       /*  float: left;  */
       position:absolute;
       right:50%;
     
            
}
.divider div:last-child{
   border:2px solid grey;
   width:25%;
   height:20%;
   border-radius: 70%;
   display:flex;
   justify-content: center;
   align-items: center;
   z-index:1;
   background-color: white;
  }

