.divider{
    background-color:white;
    position: absolute;
    /* top:10%; */
    width:40px;
    height:40px;
    border:2px solid grey;
    border-radius: 50%;
    transform: translateY(15vh); 
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left:31vw;
}
