
form{
    display:grid;
    width:100%;
    height:100%;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    grid-template-areas: 
    "legend"
    "username"
    " password"
    "login-details";
    text-align: center;
    font-size: large;
}
form >div>input{
    width:50%;
    height:40%;
}
.login-details .login{
    width:30%;
    background-color: lightskyblue;
}
.login-details .check{
    width:15px;
    height:15px;
}
legend{
    grid-area: legend;
 }
.username{
    grid-area: username;
}
.password{
    grid-area: password;
   }
.login-details{
    grid-area: login-details;
   
}