.socialmedia{
    grid-area: socialmedia;
    display:grid;
    grid-template-rows: 12vh 12vh 12vh;
    grid-template-areas: 
    "facebook"
    "google"
    "twitter";
    text-align: center;
    width:100%;
    height:100%;
   border-right: 2px solid grey;
}
.facebook {
    grid-area: facebook;
}
.google {
    grid-area: google;
}
.twitter {
    grid-area: twitter;
}
.socialmedia article button{
    width:40vh;
    height:7vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.socialmedia i{
    font-size: 2rem;
}
.facebook button{
    background-color: rgba(16, 18, 143, 0.836);
    color:white;
    border:none;
}
.google button{
    background-color: rgba(226, 40, 80, 0.479);
    color:white;
    border:none;
}
.twitter button{
    background-color: rgba(134, 190, 235, 0.37);
    color:white;
    border:none;
}