.socialmedia{
    grid-area: socialmedia;
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 12vh 12vh 12vh;
    grid-template-areas: 
    "facebook"
    "google" 
    "twitter";
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

.facebook {
    grid-area: facebook;
    width:70%;
    height:10%;
}
.google {
    grid-area: google;
    width:70%;
    height:10%;
}
.twitter {
    grid-area: twitter;
    width:70%;
    height:10%;
}
.socialmedia i{
    font-size: 1.1rem;
}
.facebook button{
    width:65%;
    height:100%;
    background-color: rgba(16, 18, 143, 0.836);
    color:white;
    border:none;
}
.google button{
    width:65%;
    height:100%;
    background-color: rgba(226, 40, 80, 0.479);
    color:white;
    border:none;
}
.twitter button{
    width:65%;
    height:100%;
    background-color: rgba(134, 190, 235, 0.37);
    color:white;
    border:none;
}