*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
body{
    width:100vw;
    height:100vh;
}

#maincontent-login{
    display:flex;
    width:95vw;
    height:90vh;
    border:2px solid black;
}

footer{
    width:95vw;
    height:10vh;
    border:2px solid red;
}

#socialmedia-login , #username-login{
    border:1px solid red;
    width:40vw;
    height:90vh;
}
.facebook, .google, .twitter{
    text-decoration: none;
    margin: 25%;
  
}
/* OR divider */
.circle{
    width:80px;
    height:80px;
    border:1px solid grey;
    /* margin:30% auto; */
    border-radius: 50%;
    position:relative;
    transform: translateY(40vh); 
    font-size: 1rem;
    text-align: center;
}
.content{
    position:absolute;
    width:inherit;
    height:auto;
    top:50%;
 }
 #divider .divider-1{
     
 }
 .divider-1, #divider-2 {
    border: 1px solid black;
 }

 /*social media styling  */
 #socialmedia-login > div{
     width:40%;
     height:7%;
    
     font-size: 1.5rem;
     text-align:center;
 }
 #socialmedia-login > div:nth-child(1){
    background-color:#4277F5;
  
}
 #socialmedia-login > div:nth-child(2){
     background-color:red;
 }
 #socialmedia-login > div:nth-child(3){
    background-color:#63b0ce;
}
/* selects anchor tag */
 #socialmedia-login > div .link{
    color:white;
    text-decoration: none;
    
    }
 
 #socialmedia-login div > div{
    /*  border:1px solid red; */
     display:inline;
     margin:3px;
 }

#socialmedia-login > div :nth-child(2n+1){
    /* background-color: darkorchid; */
    color:white;
} 

/* divider styling */


/* username-login styling */
#username-login input{
    background-color: transparent;
    border: none;
    border-bottom: 2px  solid gray;
}
#username-login input:focus{
    outline:none;
    border-bottom: 2px  solid blue;
}

form > legend{
    font-size: 2rem;
    text-align: center;
  
}

#username-login input[type="email"]{
       margin-top: 10px;
    margin-bottom: 30px;
       
}

#username-login input[type="password"]{
    margin-top: 10px;
    margin-bottom: 30px; 
}
/* checkbox styling */
form > div:nth-child(4){
    margin:30px;
    display:inline-block;
   
}
#username-login input[type="checkbox"]{
border:2px solid orchid;
margin:10px;
}
#username-login input[type="button"]{
    margin-left:10px;
    background-color: deepskyblue;
    width:70px;
    height:30px;
    border:none;
    color:white;
}
/* footer styling */
footer{
        display:flex;
        justify-content: center;
       
   
}
#divider-2{
    height:3vh;
  }
footer > a{
    text-decoration: none;
    font-size: 1.5rem;
    color:rgb(52, 146, 235)
}