@import url("./form.css");
@import url("./socialmedia.css");
@import url("./footer.css");
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
body{
    
    border:2px solid grey;
    width:70vw;
    height:50vh;
    display:grid;
    grid-template-columns: 30vw 5vw 25vw;
    grid-template-rows: 45vh 5vh;
    grid-template-areas: 
    "socialmedia divider form"
    "footer footer footer";
}